/* The CSS codes */

/* General body design */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    overflow: none;
    background-color: var(--section-bg-color);
}

:root {
    --font-family: 'Lexend', sans-serif;
    --button-color: #269B51;
    --section-bg-color: #F5FAF6;

    --white-color: #ffffff;
    --black-color: #000;
}

/* the navbar designs */

#navbar {
    background-color: var(--section-bg-color);
}

header nav {
    display: flex;
    position: relative;
    z-index: 100000000000000000000000000000000000000000;
    justify-content: space-between;
    margin: 0px 64px;
    align-items: center;

}

header nav img {

    position: absolute;
    z-index: -1111111111111111111111111111111111;
    height: 320px;
    width: 332px;
    left: -80px;
    top: -120px;
    border-radius: 0px;

}

div #eaze {
    color: var(--button-color);
}

nav div h1 {
    font-size: 32px;
    font-weight: 500;
}

nav div a {
    list-style-type: none;
    text-decoration: none;
    color: var(--black-color);
    font-weight: 400;
    margin-right: 29px;

}

#shopnow,
#learnmore {
    border-width: 0;
    height: 40px;
    width: 99px;
    left: 1285px;
    top: 10px;
    border-radius: 4px;
    padding: 10px;
    color: var(--white-color);
    background-color: var(--button-color);
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}



/* The Hero-Section: Section-One */
section {
    background: #F5FAF6;
    position: relative;
    z-index: 80000000000000000;

}

.hero-section {
    display: flex;
    margin: 77px 32px 0px 64px;
    justify-content: space-around;

}

.hero-subsection {
    align-items: center;
    margin-top: 58px;
    justify-content: space-around;

}

/* Access content & Green Star */
#accesscontent {}

.images-icons {
    margin-top: 35px;
}

.images-stack-one {
    transform: translateX(-40px);
}

.images-stack-two {
    transform: translateX(-80px);
}

#section-one {
    background-image: url(assets/images/Green\ circle.svg);
    background-repeat: no-repeat;
    background-position: 500px 90px;
    background-size: 300px;

}

.hero-subsection h1 {
    font-family: Lexend;
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    width: 600px;

}

.image-box-one img {
    max-width: 100%;
    height: 80%;
    float: right;

}

/* Section 2 */
.section-two {
    background-image: url(assets/images/Yellow\ Star\ 2.svg);
    background-repeat: no-repeat;
    background-position: 1100px 100px;
    background-color: var(--white-color);
    margin-left: 0;
    margin-right: 0;
    flex-direction: row-reverse;
    justify-content: space-between;

}

.two {
    margin-left: 64px;
    margin-top: 200px;
}

#our-story {
    padding-bottom: 50px;
}

#learnmore {
    width: 120px;
    margin-top: 20px;
}

.farming-man {
    margin: 64px;
    max-width: 100%;
    height: 80%;
    float: right;

}

/* Section 3 */

.featured-products-header-contents {
    text-align: center;
}

.product-cards {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 64px;
    gap: 45px;
}

.container {
    padding: 30px;
}

.fruit,
.seed,
.chemical,
.agric {
    background-color: var(--white-color);
    padding: 25px;
    width: 210px;
    height: 306px;
    box-shadow: 0px 1px 28px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#cta-products {
    text-align: center;
    color: var(--button-color);
}


/* Section 4 */

.farmland {
    margin: 64px;
    max-width: 100%;
    height: 80%;
    float: right;

}


.four {
    margin: 64px;
    font-family: Lexend;
    font-style: normal;
    font-size: 36px;
    font-weight: 500;
    text-align: left;
    width: 678px;
}

.section-four {
    background-image: url(assets/images/Yellow\ Star\ 2.svg);
    background-repeat: no-repeat;
    background-position: 700px 0;
    background-color: var(--white-color);
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between;
    background-color: var(--white-color);
}

#register-contents {
    font-family: Lexend;
    font-size: 36px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;

}

.cta-order {
    margin-top: 30px;
}

.cta-statistics {
    background-color: var(--button-color);

    width: 550px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 60px;
}

.cta-content {
    font-weight: 300;
    color: var(--white-color);
    font-size:16px;

}


/* Footer Design */
.footer {
    display: flex;
}